.grid {
  --square-size: 50px;
  --header-width: 250px;
  --gap-size: 2px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-x: auto;
}

.grid-row {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  margin-bottom: var(--gap-size);
}

.grid-row-header {
  flex: 1 0 var(--header-width);
  min-width: var(--header-width);
}

.grid-row-cells {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

/* Custom horizontal scrollbar styling */
.grid::-webkit-scrollbar {
  height: 10px;
  padding-top: 4px;
}

.grid::-webkit-scrollbar-track {
  background: #2c2430;
  border-radius: 2px;
}

.grid::-webkit-scrollbar-thumb {
  background: #5c5c7181;
  border-radius: 2px;
}

.grid::-webkit-scrollbar-thumb:hover {
  background: #7a7a97;
}

.instrument {
  color: white;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.grid-cell {
  height: var(--square-size);
  width: var(--square-size);
  background-color: #5c5c71;
  border-radius: 4px;
  margin-right: var(--gap-size);
}

.grid-cell--active {
  background-color: #fff52e;
}

.grid-cell--bar {
  margin-left: var(--gap-size);
}

.grid-cell--playing {
  outline: 2px solid #ffffff55;
  box-shadow: 0 0 0 2px #ffffff22 inset;
}

.app-container {
  max-width: 100%;
  border-radius: 10px;
  background-color: #2c2430;
  padding: 30px 20px 10px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .grid {
    --square-size: 30px;
  }

  .instrument {
    font-size: 12px;
  }
}
