.grid {
  --square-size: 50px;
  display: grid;
  grid-template-columns: 50px repeat(var(--cols), var(--square-size, 50px));
  align-items: center;
  gap: 1px;

  overflow-x: scroll;
  padding-bottom: 20px;
  -webkit-overflow-scrolling: touch;
}

.instrument {
  color: white;
}

.grid-cell {
  height: var(--square-size);
  width: var(--square-size);
  background-color: #5c5c71;
  border-radius: 4px;
}

.grid-cell--active {
  background-color: #fff52e;
}

.grid-cell--playing {
  outline: 2px solid #ffffff55;
  box-shadow: 0 0 0 2px #ffffff22 inset;
}

.app-container {
  max-width: 100%;
  border-radius: 10px;
  background-color: #2c2430;
  padding: 30px 20px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .grid {
    --square-size: 30px;
  }

  .instrument {
    font-size: 12px;
  }
}
