.grid {
  display: grid;
  grid-template-columns: 50px repeat(var(--cols), 50px);
  align-items: center;
  gap: 1px;
  padding: 40px 30px;
  border-radius: 10px;
  background-color: #2c2430;
}

.instrument {
  color: white;
}

.grid-cell {
  height: 50px;
  width: 50px;
  background-color: #5c5c71;
  border-radius: 4px;
}

.grid-cell--active {
  background-color: #fff52e;
}

.grid-cell--playing {
  outline: 2px solid #ffffff55;
  box-shadow: 0 0 0 2px #ffffff22 inset;
}
