.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.logo {
  height: 200px;
  width: 200px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  